#include <verrsrc.h>

1 VERSIONINFO
FILEVERSION    1,2,1
PRODUCTVERSION 1,2,1
FILEOS         VOS_NT
FILETYPE       VFT_DLL
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",      "Adam A. Jammary (Jammary Studio)"
			VALUE "LegalCopyright",   "(c) 2021 Adam A. Jammary (Jammary Studio)"
			VALUE "ProductName",      "libvoyaplayer"
			VALUE "FileDescription",  "libvoyaplayer"
			VALUE "FileVersion",      "1.2.1"
			VALUE "ProductVersion",   "1.2.1"
			VALUE "InternalName",     "libvoyaplayer.dll"
			VALUE "OriginalFilename", "libvoyaplayer.dll"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
